* {
    box-sizing: border-box; 
    font-size: 0px;
}

.container {
  display: grid;
  height: 500px;
  width: 100vh;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-areas: 
  "one one one one"
  "two three four five"
  "six six seven seven"
  "eight eight eight nine"
}

.item-1{
  background-color: #F5C6D6;
  grid-area: one;
}

.item-2{
  background-color: #EE2E84;
  grid-area: two;
}

.item-3{
  background-color: #EE2E84;
  grid-area: three;
}

.item-4{
  background-color: #EE2E84;
  grid-area: four;
}

.item-5{
  background-color: #EE2E84;
  grid-area: five;
}

.item-6{
  background-color: #85CFD8;
  grid-area: six;
}

.item-7{
  background-color: #85CFD8;
  grid-area: seven;
}

.item-8{
  background-color: #8DC63F;
  grid-area: eight;
}

.item-9{
  background-color: #E76E34;
  grid-area: nine;
}